<md-dialog
	aria-label="Profile">
	<form name="cardForm" novalidate>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{dialogtitle}}</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon aria-label="Close dialog">close</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content style="width:600px;max-width:100%; max-height:810px; ">
			<md-content class="md-padding">
				<form name="userForm" novalidate>
					<md-input-container class="md-block">
						<label>Title</label>
						<input ng-model="title" required>
					</md-input-container>
					<md-input-container class="md-block">
						<label>Description</label>
						<textarea ng-model="description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
					</md-input-container>
					<md-input-container class="md-block">
						<label>Labels</label>
						<md-select ng-model="currentLabels"  multiple>
							<md-option ng-value="l" ng-repeat="l in labels" ><ng-md-icon icon="label" ng-style="{color:l.color}"></ng-md-icon>  {{l.name}} </md-option>
						</md-select>
					</md-input-container>
					<md-input-container class="md-block">
						<label>Column</label>
						<md-select ng-model="currentList" required>
							<md-option ng-value="l.id"  ng-repeat="l in lists">{{l.name}}</md-option>
						</md-select>
					</md-input-container>
				</form>
			</md-content>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="cancel()">
				Cancel
			</md-button>
			<md-button ng-disabled="!cardForm.$valid" ng-click="add()" >
				{{buttonLabel}}
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
