<md-dialog
	aria-label="Profile">
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{dialogtitle}}</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon aria-label="Close dialog">close</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content style="width:300px;max-width:100%; max-height:810px; ">
			<md-content class="md-padding">
				<form name="userForm" novalidate>
					<md-input-container class="md-block">
						<label>Name</label>
						<input ng-model="name">
					</md-input-container>
				</form>
			</md-content>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="cancel()">
				Cancel
			</md-button>
			<md-button ng-click="add()" >
				{{buttonLabel}}
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
