<div layout="column" class="relative" layout-fill role="main" ng-controller="LayoutCtrl as layout" ng-cloak>
    <md-toolbar ng-show="!showSearch">
        <div class="md-toolbar-tools">
            <h3>Kanbangular</h3>
            <span flex></span>
            <!--<md-button aria-label="Search" ng-click="showSearch = !showSearch">-->
                <!--<ng-md-icon icon="search"></ng-md-icon>-->
            <!--</md-button>-->
            <md-menu>
                <md-button aria-label="Open Settings" ng-click="layout.openMenu($mdOpenMenu, $event)">
                    <md-icon> more_vert </md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="layout.import($event)">
                            <md-icon>file_upload</md-icon>
                            Import data
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="layout.export()">
                            <md-icon>file_download</md-icon>
                            Export data
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <!--<md-toolbar ng-show="showSearch">-->
        <!--<div class="md-toolbar-tools">-->
            <!--<md-button ng-click="showSearch = !showSearch" aria-label="Back">-->
                <!--<ng-md-icon icon="arrow_back"></ng-md-icon>-->
            <!--</md-button>-->
            <!--<h3 flex="10">-->
                <!--Back-->
            <!--</h3>-->
            <!--<md-input-container flex md-theme="input" id="searchInput">-->
                <!--<input ng-model="search.who" placeholder="Search ...">-->
            <!--</md-input-container>-->
        <!--</div>-->
    <!--</md-toolbar>-->
    <md-content layout="column" flex md-scroll-y>
        <div ui-view layout="column" flex></div>
    </md-content>
</div>
