<div flex layout="column" layout-align="start none">
	<div layout="column">
		<md-virtual-repeat-container id="horizontal-container" md-orient-horizontal ng-style="listStyle">
			<div md-virtual-repeat="list in models" class="repeated-item column" md-whiteframe="1" layout="column" flex
				 layout-align="start none">
				<div layout="row" layout-align=" center">
					<span class="title">{{list.name}} ({{list.items.length || 0}})</span>
					<span flex></span>
					<md-menu>
						<md-button class="md-icon-button" aria-label="Open Settings"
								   ng-click="openMenu($mdOpenMenu, $event)">
							<md-icon> more_vert</md-icon>
						</md-button>
						<md-menu-content width="4">
							<md-menu-item>
								<md-button ng-click="addItem($event,list.id)">
									<md-icon>add</md-icon>
									Add Card
								</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button ng-click="editList($event, list.id)">
									<md-icon>mode_edit</md-icon>
									Edit Column
								</md-button>
							</md-menu-item>
							<md-menu-divider></md-menu-divider>
							<md-menu-item>
								<md-button ng-click="deleteList($event,list)">
									<md-icon>delete_forever</md-icon>
									Delete Column
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</div>
				<div class="cards" dnd-list dnd-drop="onDrop(list, item, index)">
					<md-card class="text-center"
							 ng-repeat="item in list.items"
							 dnd-draggable="getSelectedItemsIncluding(list, item)"
							 dnd-dragstart="onDragstart(list, event)"
							 dnd-moved="onMoved(list)"
							 dnd-dragend="list.dragging = false"
							 dnd-selected="item.selected = !item.selected"
							 ng-class="{'selected': item.selected}"
							 ng-hide="list.dragging && item.selected"
					>
						<md-card-header>
							<md-card-header-text>
								<span class="md-title">{{item.title | limitTo:16}}</span>
								<span class="md-subhead">{{item.description | limitTo:32}}</span>
							</md-card-header-text>
							<span flex></span>
							<md-menu>
								<md-button class="md-icon-button" aria-label="Open Settings"
										   ng-click="openMenu($mdOpenMenu, $event)">
									<md-icon>more_vert</md-icon>
								</md-button>
								<md-menu-content width="4">
									<md-menu-item>
										<md-button ng-click="editItem($event, list.id, item)">
											<md-icon>mode_edit</md-icon>
											Edit Card
										</md-button>
									</md-menu-item>
									<md-menu-divider></md-menu-divider>
									<md-menu-item>
										<md-button ng-click="deleteItem($event, item.id)">
											<md-icon>delete_forever</md-icon>
											Delete Card
										</md-button>
									</md-menu-item>
								</md-menu-content>
							</md-menu>
						</md-card-header>
						<md-card-actions layout="row" layout-align="end center">
							<div class="" aria-label="Card Label" ng-repeat="l in item.labels">
								<md-tooltip>{{l.name}}</md-tooltip>
								<ng-md-icon icon="label" ng-style="{color:l.color}"></ng-md-icon>
							</div>
							<span flex></span>
						</md-card-actions>
					</md-card>
				</div>
				<div layout="column">
					<md-button aria-label="Add Card" ng-click="addItem($event, list.id)">
						<md-tooltip>Add Card</md-tooltip>
						<ng-md-icon icon="add" aria-label="Add Card"></ng-md-icon>
					</md-button>
				</div>
			</div>
			<md-button class="repeated-item" md-whiteframe="1" ng-click="addList($event)">
				Add Column
			</md-button>
		</md-virtual-repeat-container>
	</div>
	<div id="addMenu" layout="row" layout-align="center center">
		<md-fab-speed-dial md-direction="up" class="md-scale">
			<md-fab-trigger>
				<md-button aria-label="menu" class="md-fab md-primary">
					<ng-md-icon icon="menu"></ng-md-icon>
				</md-button>
			</md-fab-trigger>
			<md-fab-actions>
				<md-button aria-label="Add Card" class="md-fab md-raised md-mini" ng-click="addItem($event, false)">
					<md-tooltip md-direction="left">Add Card</md-tooltip>
					<ng-md-icon icon="view_agenda" aria-label="Add Card"></ng-md-icon>
				</md-button>
				<md-button aria-label="Add Column" class="md-fab md-raised md-mini" ng-click="addList()">
					<md-tooltip md-direction="left">Add Column</md-tooltip>
					<ng-md-icon icon="view_column" aria-label="Add Column"></ng-md-icon>
				</md-button>
			</md-fab-actions>
		</md-fab-speed-dial>
	</div>
</div>
