<md-dialog
	aria-label="Profile">
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{title}}</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon aria-label="Close dialog">close</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content style="width:600px;max-width:100%; max-height:810px; ">
			<md-content class="md-padding">
				<md-input-container class="md-block">
					<label>{{message}}</label>
					<textarea ng-model="data" rows="5" md-select-on-focus></textarea>
				</md-input-container>
			</md-content>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-if="type=='import'" ng-click="cancel()">
				Cancel
			</md-button>
			<md-button ng-if="type=='import'" ng-click="import()" >
				Import
			</md-button>
			<md-button ng-if="type=='export'" ng-click="cancel()">
				Ok
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
