md-input-container#searchInput .md-errors-spacer {
	display: none;
}

#horizontal-container {
    width: 100%;
}

#horizontal-container .repeated-item {
    display: inline-block;
    width: 256px;
    margin: 4px;
	vertical-align: top;
}

#horizontal-container .repeated-item:first-child {
    margin-left: 8px;
}

#horizontal-container .repeated-item:last-child {
    margin-right: 8px;
}

#horizontal-container .md-virtual-repeat-container.md-orient-horizontal .md-virtual-repeat-scroller {
    overflow-y: auto;
}

#addMenu {
    position: absolute;
    right: 16px;
    bottom: 16px;
}

.column .title {
    line-height: 40px;
    padding: 0 8px;
}


/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.cards[dnd-list],
.cards[dnd-list] > md-card {
	position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop into it once it's empty
 */
.cards[dnd-list] {
	min-height: 42px;
	padding-left: 0px;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.cards[dnd-list] .dndPlaceholder {
	display: block;
	background-color: #ddd;
	min-height: 42px;
}



/**
 * Show selected elements in green
 */
.cards[dnd-list] md-card.selected {
	background-color: #dff0d8;
	color: #3c763d;
}
